{
  "env": {
    "production": {
      "presets": [["@babel/preset-env", { "modules": false }]],
      "plugins": ["transform-flow-strip-types"]
    },
    "test": {
      "presets": [["@babel/preset-env"]],
      "plugins": ["transform-flow-strip-types"]
    }
  }
}
